.vip #head {
    height: 88px;
    border-bottom-color: transparent;
    width: 100%;
    max-width: 16rem;
    min-width: 8rem;
    overflow: inherit;
    position: relative;
    z-index: 199;
    border-bottom: 1px solid #dedede;
}
ul,li {
    list-style: none;
}
 .vip .fixtop {
    height: 44px;
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 88px;
    background: linear-gradient(150deg,#ff5a61 50%,#fd631c);
}
.wap-login {
    padding-right: 24px;
    padding-left: 24px;
} 
 #login_switch {
    font-size: 16px;
    line-height: 48px;
    height: 48px;
    text-align: center;
    color: #999;
    list-style: none;
}
#login_switch li.active, .common .delAddress, .common .try-control .delAddress, .common .try-control .saveBtn, .has_bind_box .btns .go-login, .login-info #code_btn, .login-info #code_btn_bind, .userBox .userItems .label, .verify-alert .godown {
    color: #ff464e;
}

#login_switch li {
    width: 50%;
    float: left;
    position: relative;
}
#login_switch li:first-child{
    border-bottom: #fd631c 2px solid;
}
#login_switch li .active:after {
    bottom: 0;
    left: 30px;
    right: 30px;
    height: 2px;
    background: #ff464e;
}
#btn_login {
    display: block;
    background: #dbdbdb;
    margin-top: 30px;
    font-size: 22px;
    color: white;
    text-align: center;
    margin:  0px 5px;
    box-sizing: border-box;
    line-height: 46px;
    height: 46px;
}
.other-action {
    margin-bottom: 44px;
    font-size: 14px;
    line-height: 44px;
    height: 44px;
    color: #999;
}
.freeLogin {
    position: relative;
    float: left;
}
.other-action .free-reg {
    font-size: 14px;
    float: right;
    color: #999;
}
 .wap-app .third-txt {
    margin-bottom: 30px;
    font-size: 12px;
    text-align: center
}
.wap-app .third-app {
    padding-bottom: 26px;
}
.clear:after, .clear:before {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.wap-app .third-app a {
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
    height: 46px;
    width: 46px;
}
.third-app img{
    width: 100%;
}
.wap-app .protection {
    font-size: 22px;
}
.wap-app .protection {
    line-height: 44px;
}
.wap-app .protection {
    height: 44px;
}
.wap-app .protection {
    padding-top: 26px;
}
.wap-app .protection {
    padding-top: 13px;
    height: 22px;
    line-height: 22px;
    color: #c2c2c2;
    font-size: 11px;
}
.wap-app .protection li {
    display: inline-block;
}
.wap-app .protection li:nth-child(2){
    margin-left: 40px;
}
.fl {
    float: left;
}
.wap-app .protection img {
    margin-right: 10px;
    height: 44px;
    float: left;
    height: 22px;
    width: auto;
    margin-right: 5px;
}
input {
    outline:none
}
