.gdMLpp {
    position: relative;
    width: 16rem;
    height: 16rem;
}
.hxVMiY {
    position: absolute;
    width: 1.536rem;
    height: 0.8533333333333334rem;
    right: 0.768rem;
    bottom: 0.768rem;
    border-radius: 0.08533333333333333rem;
    background-color: rgba(0,0,0,.45);
    color: #fff;
    font-size: 0.4266666666666667rem;
    line-height: 0.8533333333333334rem;
    text-align: center;
}
.bTQvTk {
    padding: 0.512rem 0.5973333333333334rem 0.4266666666666667rem;
    font-size: 0;
    background: #ffffff;
}
.eBHHsD {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.ckWRct {
    font-size: 0.512rem;
    color: #ff464e;
    line-height: 1.024rem;
}
.caepzu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.fdvAUU {
    font-size: 0.512rem;
    color: #999;
}
.eCpHpu {
    font-size: 0.4266666666666667rem;
    line-height: 1;
    padding: 0.042666666666666665rem 0.08533333333333333rem;
    border: 1px solid;
    margin-right: 0.3413333333333333rem;
}
.lmuUPI {
    font-size: 1.024rem;
    line-height: 1.408rem;
    color: #ff464e;
    margin-right: 0.17066666666666666rem;
    font-size: 1.024rem;
}
.cikhXQ {
    font-size: 0.512rem;
    color: #bbbbbb;
    margin-right: 0.4266666666666667rem;
    text-decoration: line-through;
}
.ckWRct {
    font-size: 0.512rem;
    color: #ff464e;
    line-height: 1.024rem;
}
.gnqCN {
    margin-bottom: 0.4266666666666667rem;
    margin-top: 0.17066666666666666rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}
.eiWZln {
    font-size: 0.6826666666666666rem;
    color: #333333;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.djnbop {
    width: 1.024rem;
    height: 1.024rem;
    background-size: 100% 100%;
    border: none;
    background: url(https://web.juanpi.com/static/media/collect.f8400f03.png) no-repeat;
    background-size: 100% 100%;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.hoFmJx {
    margin-top: 0.4266666666666667rem;
    background: #ffffff;
}
.dQnXyl {
    height: 2.048rem;
    position: relative;
    padding: 0 0.5973333333333334rem;
}
.fNYoVS {
    height: 2.048rem;
    position: relative;
    padding: 0 0.5973333333333334rem;
}
.dDeMti {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.512rem;
    color: #333333;
    line-height: 2.048rem;
}
.kclDrl {
    position: absolute;
    right: 0.512rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1.024rem;
    height: 1.024rem;
}
.dQnXyl:after {
    content: '';
    position: absolute;
    background-color: #ebebeb;
    bottom: 0;
    left: 0.5973333333333334rem;
    right: 0.5973333333333334rem;
    height: 1px;
}
.kZCgYS {
    font-size: 0.512rem;
    color: #666666;
    line-height: 2.048rem;
}
.glmRdv {
    position: absolute;
    right: 0.512rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1.024rem;
    height: 1.024rem;
}
.beBVBG {
    height: 2.048rem;
    position: relative;
    padding: 0 0.5973333333333334rem;
}
.gSaRQX {
    font-size: 0.64rem;
    color: #333333;
    line-height: 2.048rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.wstDz {
    position: absolute;
    right: 0.256rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1.024rem;
    height: 1.024rem;
}
.hoFmJx {
    margin-top: 0.4266666666666667rem;
    background: #ffffff;
}
.gHyDBV {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.5973333333333334rem;
    background-color: #fff;
    margin-bottom: 0.4266666666666667rem;
}
.iWGNAQ {
    width: 1.92rem;
    height: 1.92rem;
    border: 1px solid #e7e7e7;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.iwQlpP {
    width: 1.92rem;
}
.ewzTJI {
    margin-left: 0.4266666666666667rem;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.eAUfqE {
    color: #333;
    font-size: 0.6826666666666666rem;
    text-align: left;
}
.WySNi {
    color: #999;
    font-size: 0.512rem;
    text-align: left;
}
.dsGqKv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #4a4a4a;
    height: 1.1946666666666668rem;
    padding-left: 0.384rem;
}
.ebsHjU {
    color: #333;
    font-size: 0.512rem;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    white-space: nowrap;
}
.efcxPt {
    width: 1.024rem;
    height: 1.024rem;
    margin-left: auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}